<div class="container">
  <mat-card>
    <mat-card-header class="table-header">
      <mat-card-title> Bought listings </mat-card-title>
      <button mat-fab extended color="primary" (click)="navigateToMarket()">
        <mat-icon> store </mat-icon>
        View available listings
      </button>
    </mat-card-header>
    <br />
    <mat-card-content>
      <mat-form-field appearance="outline">
        <mat-label>Search</mat-label>
        <mat-icon matPrefix>search</mat-icon>
        <input matInput (keyup)="applyFilterBought($event)" #input />
      </mat-form-field>

      <table mat-table [dataSource]="dataSourceBought">
        <ng-container matColumnDef="quantity">
          <th mat-header-cell *matHeaderCellDef>Quantity of energy (kWh)</th>
          <td mat-cell *matCellDef="let element">{{ element.quantity }}</td>
        </ng-container>

        <ng-container matColumnDef="rate">
          <th mat-header-cell *matHeaderCellDef>Listing price (RON/kWh)</th>
          <td mat-cell *matCellDef="let element">{{ element.rate }}</td>
        </ng-container>

        <ng-container matColumnDef="total">
          <th mat-header-cell *matHeaderCellDef>Total price (RON)</th>
          <td mat-cell *matCellDef="let element">{{ element.total }}</td>
        </ng-container>

        <ng-container matColumnDef="maturityDate">
          <th mat-header-cell *matHeaderCellDef>
            The date by which the energy will be supplied
          </th>
          <td mat-cell *matCellDef="let element">{{ element.maturityDate }}</td>
        </ng-container>

        <ng-container matColumnDef="createdAt">
          <th mat-header-cell *matHeaderCellDef>Date listed</th>
          <td mat-cell *matCellDef="let element">{{ element.createdAt }}</td>
        </ng-container>

        <ng-container matColumnDef="boughtAt">
          <th mat-header-cell *matHeaderCellDef>Date bought</th>
          <td mat-cell *matCellDef="let element">{{ element.boughtAt }}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumnsBought"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumnsBought"></tr>
      </table>
      <mat-paginator
        #paginatorBought="matPaginator"
        [pageSizeOptions]="[5, 10, 20]"
        showFirstLastButtons
      >
      </mat-paginator>
      <br />
    </mat-card-content>
  </mat-card>
  <br />
  <mat-card>
    <mat-card-header class="table-header">
      <mat-card-title> Your listings </mat-card-title>
      <button mat-fab extended color="primary" (click)="addListing()">
        <mat-icon> add_circle_outline </mat-icon>
        List a new entry
      </button>
    </mat-card-header>
    <br />
    <mat-card-content>
      <mat-form-field appearance="outline">
        <mat-label>Search</mat-label>
        <mat-icon matPrefix>search</mat-icon>
        <input matInput (keyup)="applyFilter($event)" #input />
      </mat-form-field>

      <table mat-table [dataSource]="dataSource">
        <ng-container matColumnDef="quantity">
          <th mat-header-cell *matHeaderCellDef>Quantity of energy (kWh)</th>
          <td mat-cell *matCellDef="let element">{{ element.quantity }}</td>
        </ng-container>

        <ng-container matColumnDef="rate">
          <th mat-header-cell *matHeaderCellDef>Listing price (RON/kWh)</th>
          <td mat-cell *matCellDef="let element">{{ element.rate }}</td>
        </ng-container>

        <ng-container matColumnDef="total">
          <th mat-header-cell *matHeaderCellDef>Total price (RON)</th>
          <td mat-cell *matCellDef="let element">{{ element.total }}</td>
        </ng-container>

        <ng-container matColumnDef="maturityDate">
          <th mat-header-cell *matHeaderCellDef>
            The date by which the energy will be supplied
          </th>
          <td mat-cell *matCellDef="let element">{{ element.maturityDate }}</td>
        </ng-container>

        <ng-container matColumnDef="createdAt">
          <th mat-header-cell *matHeaderCellDef>Date listed</th>
          <td mat-cell *matCellDef="let element">{{ element.createdAt }}</td>
        </ng-container>

        <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef>Status</th>
          <td mat-cell *matCellDef="let element">
            <mat-icon
              [matTooltip]="element.boughtAt.length > 0 ? 'Sold' : 'Listed'"
              matTooltipPosition="above"
              color="primary"
            >
              {{ element.boughtAt.length > 0 ? "verified" : "pending" }}
            </mat-icon>
          </td>
        </ng-container>

        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef>Actions</th>
          <td mat-cell *matCellDef="let element">
            <button
              mat-icon-button
              *ngIf="element.buyerId.length == 0; else noAction"
              (click)="deleteListing(element)"
            >
              <mat-icon color="primary"> delete </mat-icon>
            </button>
            <ng-template #noAction>No actions available</ng-template>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
      <mat-paginator
        #paginator="matPaginator"
        [pageSizeOptions]="[5, 10, 20]"
        showFirstLastButtons
      >
      </mat-paginator>
      <br />
    </mat-card-content>
  </mat-card>
</div>
