<div class="container">
  <mat-card>
    <mat-card-header>
      <mat-card-title> Revenue and power generated in 2023 </mat-card-title>
    </mat-card-header>
    <br />
    <mat-card-content class="card-content">
      <div class="chart">
        <app-chart [options]="chartOptions1"></app-chart>
      </div>
      <div class="info-paragraph">
        <h2>Current month summary</h2>
        <p *ngIf="secondAction">
          <b>{{ secondAction }}</b> {{ computeMonth(1, producedChart) }} RON
        </p>
        <p>
          <b>{{ action }}:</b> {{ computeMonth(0, producedChart) }} kWh
        </p>
        <h2>Accumulated information for 2023</h2>
        <p *ngIf="secondAction">
          <b>{{ secondAction }}</b> {{ computeTotal(1, producedChart) }} RON
        </p>
        <p>
          <b>{{ action }}:</b> {{ computeTotal(0, producedChart) }} kWh
        </p>
        <h2>Averages for 2023</h2>
        <p *ngIf="secondAction">
          <b>{{ secondAction }}</b> {{ computeAverage(1, producedChart) }} RON
        </p>
        <p>
          <b>{{ action }}:</b> {{ computeAverage(0, producedChart) }} kWh
        </p>
        <br />
        <button
          mat-raised-button
          disableRipple="true"
          color="primary"
          (click)="navigateToPanelsPage()"
        >
          View solar panels
        </button>
      </div>
    </mat-card-content>
  </mat-card>
  <br />
  <mat-card>
    <mat-card-header>
      <mat-card-title> Power consumed in 2023 </mat-card-title>
    </mat-card-header>
    <br />
    <mat-card-content class="card-content">
      <div class="chart">
        <app-chart [options]="chartOptions2"></app-chart>
      </div>
      <div class="info-paragraph">
        <h2>Current month summary</h2>
        <p>
          <b>{{ thirdAction }}:</b> {{ computeMonth(0, consumedChart) }} kWh
        </p>
        <h2>Accumulated information for 2023</h2>
        <p>
          <b>{{ thirdAction }}:</b> {{ computeTotal(0, consumedChart) }} kWh
        </p>
        <h2>Averages for 2023</h2>
        <p>
          <b>{{ thirdAction }}:</b> {{ computeAverage(0, consumedChart) }} kWh
        </p>
      </div>
    </mat-card-content>
  </mat-card>
</div>
