<h2>Current month summary</h2>
<p *ngIf="secondAction">
  <b>{{ secondAction }}</b> {{ computeMonth(1) }} RON
</p>
<p>
  <b>{{ action }}:</b> {{ computeMonth(0) }} kWh
</p>
<h2>Accumulated information for 2023</h2>
<p *ngIf="secondAction">
  <b>{{ secondAction }}</b> {{ computeTotal(1) }} RON
</p>
<p>
  <b>{{ action }}:</b> {{ computeTotal(0) }} kWh
</p>
<h2>Averages for 2023</h2>
<p *ngIf="secondAction">
  <b>{{ secondAction }}</b> {{ computeAverage(1) }} RON
</p>
<p>
  <b>{{ action }}:</b> {{ computeAverage(0) }} kWh
</p>
